{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
    
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laudantium tenetur, aut ducimus aperiam, impedit vitae neque quis voluptas rem cum nihil, consequatur repellat corrupti rerum! Quaerat esse tempora cupiditate vitae labore voluptatibus sed tenetur sequi, repellendus necessitatibus, quos nisi asperiores, quidem assumenda velit aspernatur suscipit ab. Officia ex, voluptate autem quaerat accusantium voluptatem aliquam reiciendis libero praesentium quos optio deleniti qui ea modi explicabo, error voluptatibus distinctio. Expedita quae nostrum, rerum minus, nihil quisquam architecto excepturi cupiditate laboriosam officia veniam omnis nesciunt, nisi aspernatur maiores eos id sint maxime quo fugiat velit laudantium aut? Sunt nobis officiis iusto maxime.
        </p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">Signin</a>

            <a class="btn btn-primary" href="/signup/">Signup</a>
        </div>
    </section>
</main>

{% endblock %}